body, html {
    height: 100%;
    margin: 0;
}

.game {
    width: 800px;
    height: 400px;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
}

.player {
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url(chi.png);
    background-size: cover;
}

.block {
    width: 75px;
    height: 100px;
    position: absolute;
    background-image: url(chasqui.png);
}


body {
    margin: 0;
    overflow: hidden; /* Evita que la página haga scroll */
    background-image: url('fondoo.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño para cubrir todo el cuerpo de la página */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
}

.container {
    position: relative;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Permite que los eventos pasen a través del overlay */
}
.top-left-image {
    position: fixed;
    top: 10px; /* Ajusta la posición según tus necesidades */
    right: calc(20% + 10px); /* Coloca la imagen un tercio a la derecha */
    width: 250px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}



.top-right-image {
    position: fixed;
    top: 10px; /* Ajusta la posición según tus necesidades */
    right: 10px; /* Ajusta la posición según tus necesidades */
    max-width: 100px; /* Ajusta el ancho máximo según tus necesidades */
    max-height: 100px; /* Ajusta la altura máxima según tus necesidades */
}


#scoreContainer {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: darkblue;
    font-size: 18px;
    text-align: right;
    font-family: 'Arial', sans-serif; /* Cambia 'Arial' por la fuente que desees */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade una sombra al texto */
}

#score {
    display: block;
}

#highScore {
    display: block;
}

#livesContainer {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
}

.life {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.life-block {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url(Capa-4.png);
}
.game {
    width: 800px;
    height: 400px;
    border: 4px solid #black;
    position: relative;
    overflow: hidden;
    background-color: #85929E; /* Color gris */


}

